<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>DASHBOARD </title>
    <th:block layout:fragment="styles">
    <style>
	    .contador{
	        height:95px;
	        width: 370px;
	        transform: rotate(180deg);
	        position: relative;
	        overflow: hidden;
	    }
	    .numero{
	        height: 110%;
	        width: 100%;
	        text-align: center;
	        font-size: 5em;
	        font-weight: bold;
	        font-family:  sans-serif;
	        color: #555;
	        position: absolute;
	        transform: rotate(-180deg);
	        mix-blend-mode: screen;
	        background-color: #fff;
	        display: flex;
	        bottom: 0px;
	        right: 10px;
	        justify-content: center;
	        align-items: center;
	    }
	    .color_fondo-blue{
	        transition: .2s;
	        transform-origin: bottom;
	        position: absolute;
	        display: block;
	        height: 95%;
	        width: 95%;
	        background-color: rgb(2, 5, 190);
	    }
	    .color_fondo-red{
	        transition: .2s;
	        transform-origin: bottom;
	        position: absolute;
	        display: block;
	        height: 95%;
	        width: 95%;
	        background-color: rgb(190, 2, 2);
	    }
	</style>
    </th:block>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
	<!-- CONTENIDO -->
	<div class="card">
		<div class="card-body table-responsive">
			
			<div class="p-3">
				<div class="row">
			        <div class="col-12 d-flex justify-content-center py-5">
			            <h3 class="pr-3" style="font-weight: 600">Reportes </h3>
			            <!-- <a id="btnCapturar" class="btn btn-success text-white" style="height: fit-content;cursor: pointer;"><i class="fas fa-file"></i> GENERAR REPORTE</a> -->
			        </div>
			    </div>
    
			    <div class="row">
			        <div class="col-12">
			            <div class="row">
			                <div class="col-12 col-lg-6 pb-2">
			                    <div class="d-flex p-2 pl-5 align-items-center" style="background-color: #fff;border-radius: 1rem;padding-left: 2rem!important;">
			                        <h4 style="font-weight: bold;">CANTIDAD DE VENTAS EN EL MES</h4>
			                        <div class="d-block contador">
			                            <div class="color_fondo-blue" id="fondo_color_ventas"></div>
			                            <div class="numero" id="cantidad_ventas"></div>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-12 col-lg-6 pb-2">
			                    <div class="d-flex p-2 pl-5 align-items-center" style="background-color: #fff;border-radius: 1rem;padding-left: 2rem!important;">
			                        <h4 style="font-weight: bold;">CANTIDAD DE COMPRAS EN EL MES</h4>
			                        <div class="d-block contador">
			                            <div class="color_fondo-red" id="fondo_color_compras"></div>
			                            <div class="numero" id="cantidad_compras"></div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <div class="col-12">
			            <div class="row">
			                <div class="col-12 pb-2">
			                    <div class="d-flex py-3 px-5 align-items-center justify-content-center" style="background-color: #fff;border-radius: 1rem;">
			                        <h4 style="font-weight: bold;">REPORTES</h4>
			                    </div>
			                </div>
			            </div>
			            <div class="row">
			                <div class="col-12 col-lg-6 pb-2">
			                    <div class="p-4 text-center" style="background-color: #fff;border-radius: 1rem;">
			                        <h6 style="font-weight: bold;">VENTAS POR TABAJADOR</h6>
			                        <canvas id="myChartLine"></canvas>
			                    </div>
			                </div>                
			                <div class="col-12 col-lg-6 pb-2">
			                    <div class="p-4 text-center" style="background-color: #fff;border-radius: 1rem;">
			                        <h6 style="font-weight: bold;">5 PRODUCTOS MÁS VENDIDOS</h6>
			                        <canvas id="myChartDona"></canvas>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			    
			</div>
		</div>
	</div>						

	</div>

<th:block layout:fragment="script">
	<script>
		let endpointCompras = '/api/get_countCompras/'
        $.ajax({
            method:"GET",
            url: endpointCompras,
            success: function(response){
                console.log(response)

                const fondo_color_compras=document.getElementById('fondo_color_compras')
                const cantidad_compras=document.getElementById('cantidad_compras')
                
                let countCompras=-1
                let tiempoCompras=setInterval(() => {
                    countCompras+=1
                    fondo_color_compras.style.height=`${countCompras}%`
                    cantidad_compras.textContent=countCompras
                    if(countCompras===response){
                    	fondo_color_compras.style.height=`100%`
                        clearInterval(tiempoCompras)
                    }
                }, 100);
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
      </script>
      <script>
        let endpointVentas = '/api/get_countVentas/'
        $.ajax({
            method:"GET",
            url: endpointVentas,
            success: function(response){
                console.log(response)

                const fondo_color_ventas=document.getElementById('fondo_color_ventas')
                const cantidad_ventas=document.getElementById('cantidad_ventas')
                
                let countVentas=-1
                let tiempoVentas=setInterval(() => {
                    countVentas+=1
                    fondo_color_ventas.style.height=`${countVentas}%`
                    cantidad_ventas.textContent=countVentas
                    if(countVentas===response){
                    	fondo_color_ventas.style.height=`100%`
                        clearInterval(tiempoVentas)
                    }
                }, 100);
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
	<script >
        let endpointDona = '/api/get_dataProductosMasVendidos/'
        $.ajax({
            method:"GET",
            url: endpointDona,
            success: function(response){
            
	            const arrayOriginal = response;
	            console.log(arrayOriginal)
	            const list_productos = [];
				const list_cantidadvendidos = [];
				
				arrayOriginal.forEach((elemento) => {
				    list_productos.push(elemento.producto);
				    list_cantidadvendidos.push(elemento.cantidadTotal);
				});

               var data = {
		            'labels': list_productos,
		            'datasets': [{
		                'label': '# of Votes',
		                'data': list_cantidadvendidos,
		                'backgroundColor': [
		                    'rgba(255, 99, 132, 0.2)',
		                    'rgba(54, 162, 235, 0.2)',
		                    'rgba(255, 206, 86, 0.2)',
		                    'rgba(75, 192, 192, 0.2)',
		                    'rgba(153, 102, 255, 0.2)',
		                    'rgba(255, 159, 64, 0.2)'
		                ],
		                'borderColor': [
		                    'rgba(255, 99, 132, 1)',
		                    'rgba(54, 162, 235, 1)',
		                    'rgba(255, 206, 86, 1)',
		                    'rgba(75, 192, 192, 1)',
		                    'rgba(153, 102, 255, 1)',
		                    'rgba(255, 159, 64, 1)'
		                ],
		                'borderWidth': 1
		            }]
		        };
                const config = {
                    type: 'doughnut',
                    data: data,
                    options: {
                    responsive: true,
                    plugins: {
                        legend: {
                        position: 'top',
                        }
                    }
                    },
                };
                const myChart = new Chart(
                document.getElementById('myChartDona'),
                config
                );
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
	        
	</script>
	 <script>
        let endpointLine = '/api/get_ventaPorTrabajador/'
        $.ajax({
            method:"GET",
            url: endpointLine,
            success: function(response){
                console.log(response)
				
				const arrayOriginal2 = response;
	            console.log(arrayOriginal2)
	            const list_trabajadores = [];
				const list_ventasxtrabajador = [];
				
				arrayOriginal2.forEach((elemento) => {
				    list_trabajadores.push(elemento.trabajador);
				    list_ventasxtrabajador.push(elemento.cantidadTotal);
				});
				
				
				var data2 = {
		          'labels': list_trabajadores,
		          'datasets': [{
		            'label': 'Cantidad de Ventas',
		            'backgroundColor': 'rgb(255, 99, 132)',
		            'borderColor': 'rgb(255, 99, 132)',
		            'data': list_ventasxtrabajador,
		          }]
			    };
			    
                const config = {
                type: 'line',
                data: data2,
                options: {}
                };
                const myChart = new Chart(
                document.getElementById('myChartLine'),
                config
                );
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
        
      </script>
     <script type="text/javascript">
        const $boton = document.querySelector("#btnCapturar"), // El botón que desencadena
        $objetivo = document.querySelector("#contenedor"), // A qué le tomamos la foto
        $contenedorCanvas = document.querySelector("#contenedorCanvas"); // En dónde ponemos el elemento canvas

        // Agregar el listener al botón
        $boton.addEventListener("click", () => {
        html2canvas($objetivo) // Llamar a html2canvas y pasarle el elemento
            .then(canvas => {
            // Cuando se resuelva la promesa traerá el canvas
            // Crear un elemento <a>
            let enlace = document.createElement('a');
            let date = new Date();
            enlace.download = "Rerpote "+date+" .png";
            // Convertir la imagen a Base64
            enlace.href = canvas.toDataURL();
            // Hacer click en él
            enlace.click();
            });
        });
    </script>
    <script>
        /*Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Your work has been saved',
            showConfirmButton: false,
            timer: 1500
        })*/
    </script>
	</th:block>
	
</body>				
	   
</html>
	 
	 
	 