<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Listar Proveedores </title>
	<th:block layout:fragment="styles">
		<link rel="stylesheet" th:href="@{/admin/static/css/switch.css}">
		</th:block>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
	<!-- CONTENIDO -->
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">LISTAR PROVEEDORES</h3>
		 	<div class="d-flex justify-content-end">
				<a type="button" class="btn btn-secondary ml-auto" th:href="@{/proveedor/add}">Nuevo Proveedor</a>
			</div>
		</div>
		<hr>
		<div class="card-body table-responsive">
			<div th:if="${proveedores.content.size()==0}">No hay proveedores en lista</div>
			<table class="table table-hover" th:if="${proveedores.content.size()>0}">
				<thead class="text-primary">
					<tr>
						<th>Nro</th>
						<th>Acciones</th>
						<th>Tipo Documento Identidad</th>
						<th>Documento Identidad</th>
						<th>Nombres</th>
						<th>Activo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="proveedor, contador : ${proveedores.content}">
						<td th:text="${contador.count}"></td> 
						<td>
							<div class="d-flex align-items-center">
								<a th:href="@{'/proveedor/edit/' + ${proveedor.id}}" class="btn btn-outline-primary mr-2 mb-0 p-1 d-flex alig-items-center">
									<i class="material-icons md-18">
										edit
									</i>
								</a>
								<a th:href="@{'/proveedor/delete/' + ${proveedor.id}}" class="btn btn-danger mb-0 p-1 d-flex alig-items-center">
									<i class="material-icons md-18">
									delete
									</i>
								</a>
							</div>
						</td>
						<td th:text="${proveedor.tipoDocumentoIdentidad}"></td>
						<td th:text="${proveedor.documentoIdentidad}"></td>
						<td th:text="${proveedor.nombres}"></td>
						<td class="d-flex">
							<input th:checked="${proveedor.activo}" type="checkbox" id="switch" 
							th:onclick="'toggleProveedorEstado(' + ${proveedor.id} + ', ' + ${proveedor.activo} + ')'" 
							/><label for="switch">Toggle</label>
						</td>
					</tr>
				</tbody>
			</table>
			<nav th:if="${totalPaginas > 1}">
			    <ul class="pagination justify-content-center">
			        <li th:classappend="${paginaActual == 0} ? 'disabled page-item'">
			            <a class="page-link" th:href="@{/proveedor/listar/(pagina=0)}">&laquo;</a>
			        </li>
			        <li th:classappend="${paginaActual == pagina} ? 'active page-item'" th:each="pagina : ${#numbers.sequence(0, totalPaginas-1)}">
			            <a class="page-link" th:href="@{/proveedor/listar/(pagina=${pagina})}" th:text="${pagina + 1}"></a>
			        </li>
			        <li th:classappend="${paginaActual == totalPaginas-1} ? 'disabled page-item'">
			            <a class="page-link" th:href="@{/proveedor/listar/(pagina=${totalPaginas-1})}">&raquo;</a>
			        </li>
			    </ul>
			</nav>
		</div>
	</div>						

	</div>
	
	<th:block layout:fragment="script">
    	<script>
			var mensajeAlert = "[[${mensajeAlert}]]";
			if(mensajeAlert){
				Swal.fire({
		            position: 'center',
		            icon: 'success',
		            title: 'Success',
		            text: mensajeAlert,
		            showConfirmButton: false,
		            timer: 1500
		        });
			}
			 function toggleProveedorEstado(id, estado) {
		    var nuevoEstado = !estado; // Invertir el estado actual
		    
		    // Realizar una solicitud HTTP al controlador utilizando AJAX o Fetch
		    // para llamar al método enabledDisabledTrabajador con los parámetros id y nuevoEstado
		    // Puedes utilizar librerías como jQuery.ajax o la función fetch nativa de JavaScript
		    
		    // Ejemplo utilizando Fetch:
		    fetch(`/proveedor/enabledDisabled/${id}/${nuevoEstado}`)
		        .then(response => {
		            // Verificar el estado de la respuesta y realizar acciones adicionales si es necesario
		            if (response.ok) {
		                // La solicitud se realizó correctamente, puedes mostrar una alerta, actualizar la página, etc.
		                Swal.fire({
		                    position: 'center',
		                    icon: 'success',
		                    title: 'Success',
		                    text: 'Estado de proveedor actualizado.',
		                    showConfirmButton: false,
		                    timer: 1500
		                });
                
		            } else {
		                // Hubo un error en la solicitud, puedes mostrar una alerta de error o realizar acciones adicionales
		                Swal.fire({
		                    position: 'center',
		                    icon: 'error',
		                    title: 'Error...',
		                    showConfirmButton: false,
		                    text: 'Ocurrió un error al actualizar el estado del trabajador.',
		                    timer: 1500
		                });
		            }
		        })
		        .catch(error => {
		            // Ocurrió un error en la solicitud, puedes mostrar una alerta de error o realizar acciones adicionales
		            Swal.fire({
		                position: 'center',
		                icon: 'error',
		                title: 'Error...',
		                showConfirmButton: false,
		                text: 'Ocurrió un error al actualizar el estado del trabajador.',
		                timer: 1500
		            });
		        });
		}
		</script>
	</th:block>

</body>				
	   
</html>
	 
	 
	 