<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Editar Permiso </title>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header"> <h3>Detalle permiso</h3></div>
			<div class="card-body">
				<form th:action="@{/permiso/editar}" th:object="${permiso}" method="post" class="form-horizontal">
                    <div class="box-body row">
                    	<input type="hidden" th:field="*{id}">
                        <div class="form-group col-12">
                            <label class="contpermiso-label">Nombre</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{nombrePermiso}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('nombrePermiso')}" th:errors="*{nombrePermiso}"></p>
                            </div>
                        </div>
                    </div>
                    <hr>
	                 <!-- /.box-body -->
	                 <div class="box-footer center">
	                     <a th:href="@{/permiso/listar}">
	                         <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancel</button>
	                     </a>
	                     <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Save</button>
	                 </div>
	                 <!-- /.box-footer -->
                </form>
                
			</div>
		</div>						

	</div>
	
	<th:block layout:fragment="script">
    <script>
    	var mensajeError = "[[${mensajeError}]]";
			if(mensajeError){
		    	Swal.fire({
		    		position: 'center',
		            icon: 'error',
		            title: 'Error...',
		            showConfirmButton: false,
		            text: mensajeError,
		            timer: 1500
			  	})
		  	}
    </script>
	</th:block>
</body>				
	   
</html>
	 
	 
	 