<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Listar Ventas</title>
	<th:block layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/admin/static/css/switch.css}">
    </th:block>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
	<!-- CONTENIDO -->
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">LISTAR VENTAS</h3>
		 	<div class="d-flex justify-content-end">
				<a type="button" class="btn btn-secondary ml-auto" th:href="@{/venta/add}">Nueva Venta</a>
			</div>
		</div>
		<hr>
		<div class="card-body table-responsive">
			<div th:if="${ventas.content.size()==0}">No hay ventas en lista</div>
			<table class="table table-hover" th:if="${ventas.content.size()>0}">
				<thead class="text-primary">
					<tr>
						<th>Nro</th>
						<th>Acciones</th>
						<th>Documento</th>
						
						<th>Cliente</th>
						<th>Moneda</th>
						<th>Sub Total</th>
						<th>Total</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="venta, contador : ${ventas.content}">
						<td th:text="${contador.count}"></td> 
						<td>
							<div class="d-flex align-items-center">
								<a th:href="@{'/venta/edit/' + ${venta.id}}" class="btn btn-outline-primary mr-2 mb-0 p-1 d-flex alig-items-center">
									<i class="material-icons md-18">
										edit
									</i>
								</a>
								<a th:href="@{'/venta/delete/' + ${venta.id}}" class="btn btn-danger mb-0 p-1 d-flex alig-items-center">
									<i class="material-icons md-18">
									delete
									</i>
								</a>
							</div>
						</td>
						<td th:text="${venta.tipoDocumento}"></td>
						<td th:text="${venta.cliente.nombres}"></td>
						<td th:text="${venta.tipoMoneda}"></td>
						<td th:text="${venta.getTotal}"></td>
						<td th:text="${venta.getTotalDescuento}"></td>
						<td>CERRADO</td>
					</tr>
				</tbody>
			</table>
			<nav th:if="${totalPaginas > 1}">
			    <ul class="pagination justify-content-center">
			        <li th:classappend="${paginaActual == 0} ? 'disabled page-item'">
			            <a class="page-link" th:href="@{/venta/listar/(pagina=0)}">&laquo;</a>
			        </li>
			        <li th:classappend="${paginaActual == pagina} ? 'active page-item'" th:each="pagina : ${#numbers.sequence(0, totalPaginas-1)}">
			            <a class="page-link" th:href="@{/venta/listar/(pagina=${pagina})}" th:text="${pagina + 1}"></a>
			        </li>
			        <li th:classappend="${paginaActual == totalPaginas-1} ? 'disabled page-item'">
			            <a class="page-link" th:href="@{/venta/listar/(pagina=${totalPaginas-1})}">&raquo;</a>
			        </li>
			    </ul>
			</nav>
		</div>
	</div>						

	</div>
	
	<th:block layout:fragment="script">
    <script>
    	var mensajeAlert = "[[${mensajeAlert}]]";
			if(mensajeAlert){
				Swal.fire({
		            position: 'center',
		            icon: 'success',
		            title: 'Success',
		            text: mensajeAlert,
		            showConfirmButton: false,
		            timer: 1500
		        });
			}
			
		var mensajeError = "[[${mensajeError}]]";
			if(mensajeError){
		    	Swal.fire({
		    		position: 'center',
		            icon: 'error',
		            title: 'Error...',
		            showConfirmButton: false,
		            text: mensajeError,
		            timer: 1500
			  	})
		  	}
		 
    </script>
	</th:block>

</body>				
	   
</html>
	 
	 
	 