<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Editar Rol </title>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header"> <h3>Detalle rol</h3></div>
			<div class="card-body">
				<form th:action="@{/rol/editar}" th:object="${rol}" method="post" class="form-horizontal">
                    <div class="box-body row">
                    	<input type="hidden" th:field="*{id}">
                        <div class="form-group col-12">
                            <label class="control-label">Nombre</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{nombreRol}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('nombreRol')}" th:errors="*{nombreRol}"></p>
                            </div>
                        </div>
                    </div>
                    <hr>
	                 <!-- /.box-body -->
	                 <div class="box-footer center">
	                     <a th:href="@{/rol/listar}">
	                         <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancel</button>
	                     </a>
	                     <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Save</button>
	                 </div>
	                 <!-- /.box-footer -->
                </form>
                
			</div>
		</div>						

	</div>
	
	<th:block layout:fragment="script">
    <script>
    </script>
</th:block>

</body>				
	   
</html>
	 
	 
	 