<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Nuevo Producto </title>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/admin/static/css/switch.css}">
        </th:block>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header"> <h3>Detalle producto</h3></div>
			<div class="card-body">
				<form th:action="@{/producto/save}" th:object="${producto}" method="post" class="form-horizontal">
                    <div class="box-body row">
                    	<div class="col-12 col-lg-6">
	                    	<div class="row">
                                <div class="form-group col-12 col-lg-6">
		                            <label class="control-label">Codigo</label>
		                            <div>
		                                <input type="text" class="form-control" name="codigo" th:field="*{codigo}" />
		                                <p class="text-danger d-block" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></p>
		                            </div>
		                        </div>

		                    	<div class="form-group col-12">
		                            <label class="control-label">Nombre</label>
		                            <div>
		                                <input type="text" class="form-control" name="nombreProducto" th:field="*{nombreProducto}" />
		                                <p class="text-danger d-block" th:if="${#fields.hasErrors('nombreProducto')}" th:errors="*{nombreProducto}"></p>
		                            </div>
		                        </div>
								<div class="form-group col-12">
		                            <label class="control-label">Descripcion</label>
		                            <div>
		                                <input type="text" class="form-control" name="descripcionProducto"  th:field="*{descripcionProducto}" />
		                                <p class="text-danger d-block" th:if="${#fields.hasErrors('descripcionProducto')}" th:errors="*{descripcionProducto}"></p>
		                            </div>
		                        </div>
		                        
		                        <div class="form-group col-12 col-lg-6">
		                            <label class="control-label">Modelo</label>
		                            <div>
		                                <input type="text" class="form-control" name="modelo" th:field="*{modelo}" />
		                                <p class="text-danger d-block" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></p>
		                            </div>
		                        </div>
		                        <div class="form-group col-12 col-lg-6">
		                            <label class="control-label">Marca</label>
		                            <div>
		                                <input type="text" class="form-control" name="marca" th:field="*{marca}" />
		                                <p class="text-danger d-block" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></p>
		                            </div>
		                        </div>
		                        <div class="form-group col-12 col-lg-6">
									<label class="control-label">Categoria</label>
					                <select class="form-select form-control" id="categoria" name="categoria" th:field="*{categoria}">
					                    <option th:each="categoria: ${categorias}"  th:value="${categoria.id}" th:text="${categoria.nombreCategoria}"></option>
					                </select>
					            </div>
		                        
		                        <div class="form-group col-12 col-lg-6">
		                            <label class="control-label">Stock</label>
		                            <div>
		                                <input type="text" class="form-control" name="stock"  th:field="*{stock}" />
		                                <p class="text-danger d-block" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></p>
		                            </div>
		                        </div>

                                <div class="form-group col-12 col-lg-6">
		                            <label class="control-label">Precio Unitario</label>
		                            <div>
		                                <input type="text" class="form-control" name="precioUnitario" th:field="*{precioUnitario}" />
		                                <p class="text-danger d-block" th:if="${#fields.hasErrors('precioUnitario')}" th:errors="*{precioUnitario}"></p>
		                            </div>
		                        </div>
                                <input type="hidden" class="form-control" id="urlImagen" name="urlImagen" th:field="*{urlImagen}" />
                         
		                        <div class="form-group col-12">
		                        	<label class="control-label">Activo</label>
		                        	<div class="d-flex">
										<input type="checkbox" id="switch" name="activo" checked="checked"/><label for="switch">Toggle</label>
									</div>
		                        </div>
	                        </div>
                    	</div>
                        
                        <div class="col-12 col-lg-6">
	                        <div class="row">
	                        	<div class="col-12 px-4">
		                        	<label class="control-label">Imagen Preliminar</label>
		                        	
		                        	 <div class="d-flex justify-content-center">
			                            <div id="loader" class="loader d-none"></div>
			                        </div>
                        			<div class="text-center p-5">
		                        		<img alt="imagen preliminar" id="img-src" th:src="@{${producto.urlImagen}}" class="img-fluid p-5">
		                        	</div>
		                        	 <div class="custom-file">
			                            <input type="file" class="custom-file-input" id="inputFile">
			                            <label class="custom-file-label" for="inputFile" >Choose file</label>
			                        </div>
		                        </div>
	                        </div>
                        </div>
                        
                       
                        
                    </div>
                    <hr>
	                 <!-- /.box-body -->
	                 <div class="box-footer center">
	                     <a th:href="@{/producto/listar}">
	                         <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancel</button>
	                     </a>
	                     <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Save</button>
	                 </div>
	                 <!-- /.box-footer -->
                </form>
                
			</div>
		</div>						

	</div>
	
	<th:block layout:fragment="script">
	<script>
	    	var mensajeError = "[[${mensajeError}]]";
			if(mensajeError){
		    	Swal.fire({
		    		position: 'center',
		            icon: 'error',
		            title: 'Error...',
		            showConfirmButton: false,
		            text: mensajeError,
		            timer: 1500
			  	})
		  	}
	  </script>
     <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-app.js";        
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries        
        import { getStorage, ref, uploadBytesResumable, getDownloadURL  } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-storage.js"
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyADmRuv4oe9klWtsE4TKPvJzA3fNTC1u5g",
            authDomain: "nelsontest-e2954.firebaseapp.com",
            projectId: "nelsontest-e2954",
            storageBucket: "nelsontest-e2954.appspot.com",
            messagingSenderId: "985550942616",
            appId: "1:985550942616:web:b8ed19adf028a93709fbed"
        };        
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        // Initialize Cloud Storage and get a reference to the service
        const storage = getStorage(app);

        function updateImage(){
            const file = event.target.files[0];       
            const imagen =  document.getElementById('img-src');
            const fecha = new Date();

            const loader =  document.getElementById('loader');
            
            const storageRef = ref(storage, 'megacentro/productos/' + fecha.getTime()+ file.name);
            const uploadTask = uploadBytesResumable(storageRef, file);

            // Listen for state changes, errors, and completion of the upload.
            uploadTask.on('state_changed',
                (snapshot) => {
                    loader.classList.remove("d-none");
                    imagen.classList.add("d-none");
                    const progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    console.log('Upload is ' + progress + '% done');
                    switch (snapshot.state) {
                        case 'paused':
                            console.log('Upload is paused');
                        break;
                        case 'running':
                            console.log('Upload is running');
                        break;
                    }
                },
                (error) => {
                    // A full list of error codes is available at
                    // https://firebase.google.com/docs/storage/web/handle-errors
                    loader.classList.add("d-none");
                    imagen.classList.remove("d-none");
                    switch (error.code) {
                        case 'storage/unauthorized':
                            console.log("User doesn't have permission to access the object");
                        break;
                        case 'storage/canceled':
                            console.log('User canceled the upload');
                        break;
                        case 'storage/unknown':
                            console.log('Unknown error occurred, inspect error.serverResponse');
                        break;
                    }
                },
                () => {
                    // Upload completed successfully, now we can get the download URL
                    getDownloadURL(uploadTask.snapshot.ref).then((downloadURL) => {
                        loader.classList.add("d-none");
                        imagen.classList.remove("d-none");
                        console.log('File Updated ', downloadURL);
                        imagen.setAttribute('src',downloadURL); 
                        document.getElementById('urlImagen').value = downloadURL;
                    });
                }
            );
        }

        const inputFile = document.getElementById('inputFile');
        inputFile.addEventListener('change', updateImage)
    </script>
	</th:block>

</body>				
	   
</html>
	 
	 
	 