<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Listar Salidas</title>
	<th:block layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/admin/static/css/switch.css}">
    </th:block>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
	<!-- CONTENIDO -->
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">LISTAR NOTAS SALIDA</h3>
		</div>
		<hr>
		<div class="card-body table-responsive">
			<div th:if="${notasalidas.content.size()==0}">No hay notas de salida en lista</div>
			<table class="table table-hover" th:if="${notasalidas.content.size()>0}">
				<thead class="text-primary">
					<tr>
						<th>Nro</th>
						<th>Acciones</th>
						<th>Codigo</th>						
						<th>Estado</th>
						<th>Venta</th>
						<th>Cliente</th>
						<th>Fecha Emision</th>
						<th>Fecha Entrega</th>
						<th>Trabajador</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="notasalida, contador : ${notasalidas.content}">
						<td th:text="${contador.count}"></td> 
						<td>
							<div class="d-flex align-items-center">
								<a th:if="${notasalida.estado.name() == 'ABIERTO'}"  th:href="@{'/notasalida/edit/' + ${notasalida.id}}" class="btn btn-outline-primary mr-2 mb-0 p-1 d-flex alig-items-center">
									<i class="material-icons md-18">
										edit
									</i>
								</a>
							</div>
						</td>
						<td th:text="${notasalida.codigo}"></td>
						<td>
							<div th:if="${notasalida.estado.name() == 'ABIERTO'}" 
							style="border-radius: 8px;padding: 4px 10px;background:#2FBC6C;color: #fff;width: max-content;">
							ABIERTO</div>
							<div th:if="${notasalida.estado.name() == 'CERRADO'}" 
							style="border-radius: 8px;padding: 4px 10px;background:#FDAA0C;color: #000;width: max-content;">
							CERRADO</div>
							<div th:if="${notasalida.estado.name() == 'ANULADO'}" 
							style="border-radius: 8px;padding: 4px 10px;background:#EB011B;color: #fff;width: max-content;">
							ANULADO</div>
						</td>
						
						<td th:text="${notasalida.venta.codigo}"></td>
						<td th:text="${notasalida.cliente.documentoIdentidad  + ' - ' + notasalida.cliente.nombres}"></td>
						<td th:text="${notasalida.fechaRegistro}"></td>
						<td th:text="${notasalida.fechaEntrega != null ? notasalida.fechaEntrega : 'Sin fecha'}"></td>
						<td th:text="${notasalida.trabajador != null ? notasalida.trabajador.nombres : 'Sin trabajador de entrga'}"></td>
					</tr>
				</tbody>
			</table>
			<nav th:if="${totalPaginas > 1}">
			    <ul class="pagination justify-content-center">
			        <li th:classappend="${paginaActual == 0} ? 'disabled page-item'">
			            <a class="page-link" th:href="@{/notasalida/listar/(pagina=0)}">&laquo;</a>
			        </li>
			        <li th:classappend="${paginaActual == pagina} ? 'active page-item'" th:each="pagina : ${#numbers.sequence(0, totalPaginas-1)}">
			            <a class="page-link" th:href="@{/notasalida/listar/(pagina=${pagina})}" th:text="${pagina + 1}"></a>
			        </li>
			        <li th:classappend="${paginaActual == totalPaginas-1} ? 'disabled page-item'">
			            <a class="page-link" th:href="@{/notasalida/listar/(pagina=${totalPaginas-1})}">&raquo;</a>
			        </li>
			    </ul>
			</nav>
		</div>
	</div>						

	</div>
	
	<th:block layout:fragment="script">
    <script>
    	var mensajeAlert = "[[${mensajeAlert}]]";
			if(mensajeAlert){
				Swal.fire({
		            position: 'center',
		            icon: 'success',
		            title: 'Success',
		            text: mensajeAlert,
		            showConfirmButton: false,
		            timer: 1500
		        });
			}
			
		var mensajeError = "[[${mensajeError}]]";
			if(mensajeError){
		    	Swal.fire({
		    		position: 'center',
		            icon: 'error',
		            title: 'Error...',
		            showConfirmButton: false,
		            text: mensajeError,
		            timer: 1500
			  	})
		  	}
		 
    </script>
	</th:block>

</body>				
	   
</html>
	 
	 
	 