<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Status Nota Entrada</title>
    <th:block layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/admin/static/css/switch.css}">
    <link rel="stylesheet" th:href="@{/admin/static/css/jquery-ui.min.css}">
    </th:block>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header"> <h3>Venta</h3></div>
			<div class="card-body">
				<form th:object="${notaentrada}" method="post" class="form-horizontal">
                    <div class="box-body row">
                    	<div class="form-group col-12">
                    		<h5>Trabajador</h5>
                    	</div>
                    	<div class="form-group col-12 col-lg-6">
                            <label class="control-label">Nombres</label>
                            <div>
                                <input type="text" class="form-control" th:field="*{trabajador.nombres}" readonly/>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Apellidos</label>
                            <div>
                                <input type="text" class="form-control" th:field="*{trabajador.apellidos}" readonly/>
                            </div>
                        </div>
                        <div class="form-group col-12"><hr></div>
                        
                        
                        <div class="form-group col-12">
                    		<h5>Proveedor</h5>
                    	</div>
                        
                    	<div class="form-group col-12 col-lg-6">
                            <label class="control-label">Nombres</label>
                            <div>
                                <input type="text" class="form-control" th:field="*{proveedor.nombres}" readonly/>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-3">
                            <label class="control-label">Tipo Documento</label>
                            <div>
                                <input type="text" class="form-control" th:field="*{proveedor.tipoDocumentoIdentidad}" readonly/>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-3">
                            <label class="control-label">Documento Identidad</label>
                            <input type="text" class="form-control" th:field="*{proveedor.documentoIdentidad}" readonly/>
                        </div>
                        <div class="form-group col-12"><hr></div>
                       	<div class="form-group col-12">
                    		<h5>Detalle de Venta</h5>
                    	</div>
                    	
                        <div class="form-group col-12">
                        	<table class="d-none">

								<tbody id="plantillaItemsFactura">
									<tr id="row_{ID}">
										<td class="d-none"><input type="hidden" value="{ID}"
											name="item_id[]" /></td>
										<td>{NOMBRE}</td>
										<td><input type="number" value="1" name="cantidad[]" readonly
											id="cantidad_{ID}" class="form-control col-sm-4"/></td>
									</tr>
						
								</tbody>
						
							</table>

							<table id="cargarItemProductos"
							class="table table-sm table-striped table-hover">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Cantidad</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table></div>
                    </div>
                    <hr>
	                 <!-- /.box-body -->
	                 <div class="box-footer center">
	                     <a th:href="@{/notaentrada/listar}">
	                         <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancel</button>
	                     </a>
	                 </div>
	                 <!-- /.box-footer -->
                </form>
                
			</div>
		</div>						

	</div>
	
	<th:block layout:fragment="script">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

	<script>
    	function actualizarTasaCambio(event){
    		var selectedValue = event.target.value;
    		if(selectedValue  == "DOLARES"){
    			$("#tasaCambio").val(3.67);
    		}else{
    			$("#tasaCambio").val(0.0);
    		}
    	}
    	
			
    	var mensajeError = "[[${mensajeError}]]";
			if(mensajeError){
		    	Swal.fire({
		    		position: 'center',
		            icon: 'error',
		            title: 'Error...',
		            showConfirmButton: false,
		            text: mensajeError,
		            timer: 1500
			  	})
		  	}
		  	
			$("#buscar_producto").autocomplete({

				source : function(request, response) {
					$.ajax({
						url : "/producto/cargar-productos/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.nombreProducto,
									precio : item.precioUnitario,
								};
							}));
						},
					});
				},
				select : function(event, ui) {
					//$("#buscar_producto").val(ui.item.label);

					if(itemsHelper.hasProducto(ui.item.value)){
						itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
						return false;
					}
					
					var linea = $("#plantillaItemsFactura").html();

					linea = linea.replace(/{ID}/g, ui.item.value);
					linea = linea.replace(/{NOMBRE}/g, ui.item.label);

					$("#cargarItemProductos tbody").append(linea);

					return false;
				}
			});
		
			var itemsHelper = {
				calcularImporte: function(id, precio, cantidad){
					$("#total_importe_" + id).html(parseFloat(precio) * parseFloat(cantidad));
					this.calcularGranTotal();
				},
				hasProducto: function(id){
					
					var resultado = false;
					
					$('input[name="item_id[]"]').each(function(){
						if(parseInt(id) == parseInt($(this).val()) ){
							resultado = true;
						}
					});
					
					return resultado;
				},
				incrementaCantidad: function(id, precio){
					var cantidad = $("#cantidad_" + id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
					$("#cantidad_" + id).val(++cantidad);
					this.calcularImporte(id, precio, cantidad);
				},
				eliminarLineaFactura: function(id){
					$("#row_" + id).remove();
					this.calcularGranTotal();
				},
				calcularGranTotal: function(){
					var total = 0;
					console.log($("#tasaCambio").val());
					
					
					$('span[id^="total_importe_"]').each(function(){
						total += parseFloat($(this).html());
					});
					
					$('#gran_total').html(total);
					
					if ($("#tasaCambio").val() != '' && parseFloat($("#tasaCambio").val()) != 0 ){
						var tasaCambiox = parseFloat($("#tasaCambio").val());
						var resultadox = Math.ceil(total / tasaCambiox);
						$('#gran_total_dolares').html(resultadox);
					}else{
						$('#gran_total_dolares').html('0');
					}

					
				}
			}
			$("#buscar_proveedor").autocomplete({
				source : function(request, response) {
					$.ajax({
						url : "/proveedor/cargar-proveedors/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item,
									label : item.nombres,
									id : item.id,
									tipoDocumentoIdentidad : item.tipoDocumentoIdentidad,
									documentoIdentidad : item.documentoIdentidad,
								};
							}));
						},
					});
				},
				select : function(event, ui) {
					console.log(ui.item.id);
					$("#proveedor\\.id").val(ui.item.id);
				    $("#proveedor\\.tipoDocumentoIdentidad").val(ui.item.tipoDocumentoIdentidad);
				    $("#proveedor\\.documentoIdentidad").val(ui.item.documentoIdentidad);
				    $("#proveedor\\.nombres").val(ui.item.label);
				    return false;
				}
			});
    </script>
    
    <script th:inline="javascript">
    	var detalleVentas = [[${detalleNotaEntradas}]];
    
		    detalleVentas.forEach(function(detalleVenta) {
				if(itemsHelper.hasProducto(detalleVenta.id)){
					itemsHelper.incrementaCantidad(detalleVenta.id, detalleVenta.precio);
					return false;
				}
				
				var linea = $("#plantillaItemsFactura").html();

				linea = linea.replace(/{ID}/g, detalleVenta.id);
				linea = linea.replace(/{NOMBRE}/g, detalleVenta.nombre);
				$("#cargarItemProductos tbody").append(linea);
				
				$("#cantidad_" + detalleVenta.id).val(detalleVenta.cantidad);
		    });
    </script>
    
</th:block>

</body>				
	   
</html>
	 
	 
	 