<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  	<head>
	    <!-- Required meta tags -->
	    <title>ADMIN</title>
	   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	   	<link rel="icon" type="img/png" th:href="@{https://www.thymeleaf.org/images/thymeleaf.png}">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/admin/static/css/bootstrap.min.css}">
		<!----css3---->
		<link rel="stylesheet" th:href="@{/admin/static/css/custom.css}">
		<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
		<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
		<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
		<link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/admin/static/css/style.css}">
		<!--google material icon-->
		<link th:href="@{https://fonts.googleapis.com/css2?family=Material+Icons}" rel="stylesheet">
		<th:block layout:fragment="styles"></th:block>
	</head>
	<body>
	 	<div class="wrapper">
	 		<div class="body-overlay"></div>
			 <!-- Sidebar  -->
			 <nav id="sidebar">
				 <div class="sidebar-header">
					 <h3><img th:src="@{https://cdn.shopify.com/s/files/1/0530/6987/3301/files/Diseno_Megacentro_para_web_3_d57f43b9-009d-419a-aa97-7c3e7724f561.png?v=1674058996&width=280}" class="img-fluid"/><span>MEGA CENTRO</span></h3>
				 </div>
				 <ul class="list-unstyled components">
				 	<li  class="active">
						<a th:href="@{/}" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
					 </li>
			 
				   	<div class="small-screen navbar-display">
					 
				 
					
					<li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{#homeSubmenu1}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
						<i class="material-icons">person</i><span>Accesos</span></a>
						<ul class="collapse list-unstyled menu" id="homeSubmenu1">
							<li>
								<a th:href="@{/rol/listar}">Roles</a>
							</li>
							<li>
								<a th:href="@{/permiso/listar}">Permisos</a>
							</li>
							<li>
								<a th:href="@{/rol/listadoAsignarPermisos}">Asignar Rol Permisos</a>
							</li>
							<li>
								<a th:href="@{/usuario/listar}">Usuarios</a>
							</li>
						</ul>
				   </li>
				   <li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{#homeSubmenu2}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
						<i class="material-icons">groups</i><span>Recursos Humanos</span></a>
						<ul class="collapse list-unstyled menu" id="homeSubmenu2">
							<li>
								<a th:href="@{/trabajador/listar}">Trabajadores</a>
							</li>
						</ul>
				   </li>
				   
				   <li class="dropdown">
						<a th:href="@{#homeSubmenu3}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
						<i class="material-icons">settings</i><span>Logistica</span></a>
						<ul class="collapse list-unstyled menu" id="homeSubmenu3">
							<li>
								<a th:href="@{/categoria/listar}">Categorias</a>
							</li>
							<li>
								<a th:href="@{/producto/listar}">Productos</a>
							</li>
							<li>
								<a th:href="@{/cliente/listar}">Clientes</a>
							</li>
							<li>
								<a th:href="@{/proveedor/listar}">Proveedores</a>
							</li>
						</ul>
				   </li>
				   
				   <li class="dropdown">
						<a th:href="@{#homeSubmenu4}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
						<i class="material-icons">monetization_on</i><span>Financiera</span></a>
						<ul class="collapse list-unstyled menu" id="homeSubmenu4">
							<li>
								<a th:href="@{/venta/listar}">Ventas</a>
							</li>
							<li>
								<a th:href="@{/notasalida/listar}">Notas de Salida</a>
							</li>
							<li>
								<a th:href="@{/notaentrada/listar}" sec:authorize="hasRole('ROLE_ADMIN')">Notas de Entrada</a>
							</li>
						</ul>
				   </li>
				   
				</ul>
			 </nav>
			 
			 
	 
			<!-- Page Content  -->
			<div id="content">
			
				<div class="top-navbar">
					<nav class="navbar navbar-expand-lg">
						<div class="container-fluid">
		
							<button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
								<span class="material-icons">arrow_back_ios</span>
							</button>
							
							<a class="navbar-brand" th:href="@{/}" style="font-size: 1rem;font-weight: 600"> DASHBOARD </a>
							
							<button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="material-icons">more_vert</span>
							</button>
		
							<div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none" id="navbarSupportedContent">
								<ul class="nav navbar-nav ml-auto">   
									
									<li class="nav-item">
										<a class="nav-link d-flex align-items-center" th:href="@{/logout}">
										<span class="pr-2" style="font-weight: 600">Salir</span> 
										<span class="material-icons">logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
					
					
				<div class="main-content">
					<div class="row">
						<div class="col-12">
						    <div layout:fragment="content"></div>
						</div>
					</div>
							
				</div>
							
					 
	 
			</div>
		</div>
	   
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{/admin/static/js/jquery-3.3.1.slim.min.js}"></script>
		<script th:src="@{/admin/static/js/popper.min.js}"></script>
		<script th:src="@{/admin/static/js/bootstrap.min.js}"></script>
		<script th:src="@{/admin/static/js/jquery-3.3.1.min.js}"></script>
	   
	   
	   	<script type="text/javascript">
		$(document).ready(function () {
					$('#sidebarCollapse').on('click', function () {
						$('#sidebar').toggleClass('active');
						$('#content').toggleClass('active');
					});
					
					$('.more-button,.body-overlay').on('click', function () {
						$('#sidebar,.body-overlay').toggleClass('show-nav');
					});
					
				});
	 	</script>
	 	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	 	<th:block layout:fragment="script"></th:block>
	</body>
	   
</html>
	 
	 
	 