<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Editar Trabajador </title>
    <th:block layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/admin/static/css/switch.css}">
    </th:block>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header"> <h3>Detalle trabajador</h3></div>
			<div class="card-body">
				<form th:action="@{/trabajador/edit}" th:object="${trabajador}" method="post" class="form-horizontal">
                    <div class="box-body row">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Nombres</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{nombres}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></p>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Apellidos</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{apellidos}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></p>
                            </div>
                        </div>

                       
                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Tipo Documento Identidad</label>
                            <select class="form-select form-control" id="tipoDocumentoIdentidad" name="tipoDocumentoIdentidad">
                                <option value="DNI">L.E / DNI</option>
                                <option value="CARNET_EXT">CARNET EXT.</option>
                                <option value="PASAPORTE">PASAPORTE</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Documento Identidad</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{documentoIdentidad}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('documentoIdentidad')}" th:errors="*{documentoIdentidad}"></p>
                            </div>
                        </div>

                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Direccion</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{direccion}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></p>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Email</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{email}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Telefono</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{telefono}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></p>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Genero</label>
                            <select class="form-select form-control" id="genero" name="genero">
                                <option value="MASCULINO">Masculino</option>
                                <option value="FEMENINO">Femenino</option>
                            </select>
                        </div>
<div class="form-group col-12 col-lg-6">
									<label class="control-label">Usuario</label>
					                <select class="form-select form-control" id="usuario" name="usuario" th:field="*{usuario}">
					                    <option th:each="usuario: ${usuarios}"  th:value="${usuario.id}" 
					                    th:text="${usuario.nombreUsuario}"></option>
					                </select>
					            </div>
                        <div class="form-group col-12">
                        	<label class="control-label">Activo</label>
                        	<div class="d-flex">
								<input type="checkbox" id="switch" name="activo" checked="checked"/><label for="switch">Toggle</label>
							</div>
                        </div>
                        
                    </div>
                    <hr>
	                 <!-- /.box-body -->
	                 <div class="box-footer center">
	                     <a th:href="@{/trabajador/listar}">
	                         <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancel</button>
	                     </a>
	                     <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Save</button>
	                 </div>
	                 <!-- /.box-footer -->
                </form>
                
			</div>
		</div>						

	</div>
	
	<th:block layout:fragment="script">
	    <script>
	    	var mensajeError = "[[${mensajeError}]]";
			if(mensajeError){
		    	Swal.fire({
		    		position: 'center',
		            icon: 'error',
		            title: 'Error...',
		            showConfirmButton: false,
		            text: mensajeError,
		            timer: 1500
			  	})
		  	}
	    </script>
	</th:block>

</body>				
	   
</html>
	 
	 
	 