<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Nueva Categorias </title>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header"> <h3>Detalle categoria</h3></div>
			<div class="card-body">
				<form th:action="@{/categoria/save}" th:object="${categoria}" method="post" class="form-horizontal">
                    <div class="box-body row">
                    
                        <div class="form-group col-12">
                            <label class="control-label">Nombre</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{nombreCategoria}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('nombreCategoria')}" th:errors="*{nombreCategoria}"></p>
                            </div>
                        </div>
						<div class="form-group col-12">
                            <label class="control-label">Descripcion</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{descripcionCategoria}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('descripcionCategoria')}" th:errors="*{descripcionCategoria}"></p>
                            </div>
                        </div>
                        <div class="form-group col-12">
                        	<label class="control-label">Activo</label>
                        	<div class="d-flex">
								<input type="checkbox" id="switch" name="activo" checked="checked"/><label for="switch">Toggle</label>
							</div>
                        </div>
                        
                    </div>
                    <hr>
	                 <!-- /.box-body -->
	                 <div class="box-footer center">
	                     <a th:href="@{/categoria/listar}">
	                         <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancel</button>
	                     </a>
	                     <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Save</button>
	                 </div>
	                 <!-- /.box-footer -->
                </form>
                
			</div>
		</div>						

	</div>
	
	<th:block layout:fragment="script">
    <script>
    </script>
</th:block>

</body>				
	   
</html>
	 
	 
	 