<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Listar Categorias </title>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
		<!-- CONTENIDO -->
		<div class="card">
								
			<!-- CONTENIDO -->
			<div class="card-header">
				<h3 class="card-title">LISTAR USUARIOS</h3>
			 	<div class="d-flex justify-content-end">
					<a type="button" class="btn btn-secondary ml-auto" th:href="@{/usuario/add}">Nuevo Usuario</a>
				</div>
			</div>
			<div class="card-body table-responsive">
				<div th:if="${usuarios.content.size()==0}">No hay usuarios en lista</div>
				<table class="table table-hover" th:if="${usuarios.content.size()>0}">
					<thead class="text-primary">
						<tr>
							<th>Nro</th>
							<th>Nombre Usuario</th>
							<th>Rol</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario, contador : ${usuarios.content}">
							<td th:text="${contador.count}"></td> 
							<td th:text="${usuario.nombreUsuario}"></td>
							<td th:text="${#strings.arrayJoin(usuario.roles.![nombreRol], ', ')}"></td>
							
						</tr>
					</tbody>
				</table>
				<nav th:if="${totalPaginas > 1}">
				    <ul class="pagination justify-content-center">
				        <li th:classappend="${paginaActual == 0} ? 'disabled page-item'">
				            <a class="page-link" th:href="@{/usuario/listar/(pagina=0)}">&laquo;</a>
				        </li>
				        <li th:classappend="${paginaActual == pagina} ? 'active page-item'" th:each="pagina : ${#numbers.sequence(0, totalPaginas-1)}">
				            <a class="page-link" th:href="@{/usuario/listar/(pagina=${pagina})}" th:text="${pagina + 1}"></a>
				        </li>
				        <li th:classappend="${paginaActual == totalPaginas-1} ? 'disabled page-item'">
				            <a class="page-link" th:href="@{/usuario/listar/(pagina=${totalPaginas-1})}">&raquo;</a>
				        </li>
				    </ul>
				</nav>
			</div>
			
		</div>
					
			
					
	</div>
							
					 
	 
<th:block layout:fragment="script">
    <script>
    </script>
</th:block>

</body>				
	   
</html>
	 
	 