<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Nuevo Usuario </title>
</head>
<body>
	<!-- CONTENIDO -->
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header"> <h3>Detalle usuario</h3></div>
			<div class="card-body">
				<form th:action="@{/usuario/save}" th:object="${usuarioform}" method="post" class="form-horizontal">
                    <div class="box-body row">
                        <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Nombre</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{nombreUsuario}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}"></p>
                            </div>
                            
                        </div>
                         <div class="form-group col-12 col-lg-6">
                            <label class="control-label">Password</label>
                            <div>
                                <input type="text" class="form-control"  th:field="*{password}" />
                                <p class="text-danger d-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            </div>
                            
                        </div>
                        
                        <div class="form-group col-12 col-lg-6 pt-3">
                            <label class="control-label">Rol</label>
		                <select class="form-select form-control" id="rol" name="rol">
		                    <option th:each="rol: ${roles}"  th:value="${rol.nombreRol}" th:text="${rol.nombreRol}"></option>
		                </select>
		                </div>
		            
                    </div>
                    <hr>
	                 <!-- /.box-body -->
	                 <div class="box-footer center">
	                     <a th:href="@{/usuario/listar}">
	                         <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancel</button>
	                     </a>
	                     <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Save</button>
	                 </div>
	                 <!-- /.box-footer -->
                </form>
                
			</div>
		</div>						

	</div>
	
	<th:block layout:fragment="script">
    <script>
    var mensajeError = "[[${mensajeError}]]";
			if(mensajeError){
		    	Swal.fire({
		    		position: 'center',
		            icon: 'error',
		            title: 'Error...',
		            showConfirmButton: false,
		            text: mensajeError,
		            timer: 1500
			  	})
		  	}
    </script>
	</th:block>

</body>				
	   
</html>
	 
	 
	 